- page_title    "Projects"
- header_title  "Projects", dashboard_projects_path

- if current_user
  = render 'dashboard/projects_head'
- else
  = render 'explore/head'

.top-area
  = render 'explore/projects/nav'

.gray-content-block.second-block.clearfix
  = render 'filter'

= render 'projects', projects: @projects
= paginate @projects, theme: "gitlab"
